.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

#resultContainer {
  text-align: center;
}

#valorVendaResult, #comissaoResult {
  font-weight: bold;
}
