.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.prescription-form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.prescription-list table {
    width: 100%;
    border-collapse: collapse;
}

.prescription-list th,
.prescription-list td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.prescription-list th {
    background-color: #f2f2f2;
}

.prescription-list tr:last-child td {
    border-bottom: none;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  .footer-content {
    color: #555;
    font-size: 14px;
  }

  .back-button {
    background-color: #695CFE;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #4C46B8;
  }
  